In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from arcgis.gis import GIS
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [2]:
from arcgis.geocoding import geocode

In [4]:
gis = GIS()

In [5]:
csv_path = "file1_2018-09-20-14-42-11_4k.csv"

In [6]:
prop_df = pd.read_csv(csv_path)
prop_df.head(3)

,SALE TYPE,SOLD DATE,PROPERTY TYPE,CITY,STATE,ZIP,PRICE,BEDS,BATHS,LOCATION,...,HOA/MONTH,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,MLS Listing,NaN,Single Family Residential,Portland,OR,97211.0,27500.0,0.0,1.0,RODGER'S MARINA,...,NaN,Active,NaN,NaN,RMLS,18567126,N,Y,45.604756,-122.624335
1,MLS Listing,NaN,Vacant Land,Portland,OR,97210.0,30000.0,NaN,NaN,"Portland West, Raleigh Hills",...,NaN,Active,NaN,NaN,RMLS,18118897,N,Y,45.522837,-122.733173
2,MLS Listing,NaN,Vacant Land,Portland,OR,97220.0,34777.0,NaN,NaN,Portland Northeast,...,NaN,Active,NaN,NaN,RMLS,18454531,N,Y,45.554321,-122.553849

In [24]:
prop_df.drop(columns=['SOLD DATE'],inplace=True)
prop_df.drop(columns=['NEXT OPEN HOUSE START TIME'],inplace=True)
prop_df.drop(columns=['NEXT OPEN HOUSE END TIME'],inplace=True)
prop_df.drop(columns=['FAVORITE'],inplace=True)
prop_df.drop(columns=['INTERESTED'],inplace=True)

In [25]:
prop_df.head(5)

,SALE TYPE,PROPERTY TYPE,CITY,STATE,ZIP,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,...,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,STATUS,SOURCE,MLS#,LATITUDE,LONGITUDE,SHAPE,OBJECTID
0,MLS Listing,Single Family Residential,Portland,OR,97211.0,27500.0,0.0,1.0,RODGER'S MARINA,350.0,...,53.0,79.0,NaN,Active,RMLS,18567126,45.604756,-122.624335,"{""x"": -122.62433473960267, ""y"": 45.60475636039...",1
1,MLS Listing,Vacant Land,Portland,OR,97210.0,30000.0,NaN,NaN,"Portland West, Raleigh Hills",NaN,...,10.0,NaN,NaN,Active,RMLS,18118897,45.522837,-122.733173,"{""x"": -122.73317348721564, ""y"": 45.52283651278...",2
2,MLS Listing,Vacant Land,Portland,OR,97220.0,34777.0,NaN,NaN,Portland Northeast,NaN,...,239.0,NaN,NaN,Active,RMLS,18454531,45.554321,-122.553849,"{""x"": -122.55384907899088, ""y"": 45.55432092100...",3
3,MLS Listing,Mobile/Manufactured Home,Portland,OR,97206.0,35000.0,2.0,1.0,Portland Southeast,800.0,...,93.0,44.0,NaN,Active,RMLS,18331169,45.475296,-122.586139,"{""x"": -122.58613896196422, ""y"": 45.47529563803...",4
4,MLS Listing,Vacant Land,Portland,OR,97213.0,50000.0,NaN,NaN,Marchmont ADD & RPLT,NaN,...,20.0,NaN,NaN,Active,RMLS,18388618,45.550021,-122.577701,"{""x"": -122.5777005888162, ""y"": 45.550021411183...",5

In [133]:
prop_sdf = pd.DataFrame.spatial.from_xy(prop_df, 'LONGITUDE', 'LATITUDE',4326)
type(prop_sdf)

pandas.core.frame.DataFrame

In [37]:
prop_sdf.head(5)

,SALE TYPE,PROPERTY TYPE,CITY,STATE,ZIP,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,...,DAYS ON MARKET,$/SQUARE FEET,HOA/MONTH,STATUS,SOURCE,MLS#,LATITUDE,LONGITUDE,SHAPE,OBJECTID
0,MLS Listing,Single Family Residential,Portland,OR,97211.0,27500.0,0.0,1.0,RODGER'S MARINA,350.0,...,53.0,79.0,NaN,Active,RMLS,18567126,45.604756,-122.624335,"{""x"": -122.62433473960267, ""y"": 45.60475636039...",1
1,MLS Listing,Vacant Land,Portland,OR,97210.0,30000.0,NaN,NaN,"Portland West, Raleigh Hills",NaN,...,10.0,NaN,NaN,Active,RMLS,18118897,45.522837,-122.733173,"{""x"": -122.73317348721564, ""y"": 45.52283651278...",2
2,MLS Listing,Vacant Land,Portland,OR,97220.0,34777.0,NaN,NaN,Portland Northeast,NaN,...,239.0,NaN,NaN,Active,RMLS,18454531,45.554321,-122.553849,"{""x"": -122.55384907899088, ""y"": 45.55432092100...",3
3,MLS Listing,Mobile/Manufactured Home,Portland,OR,97206.0,35000.0,2.0,1.0,Portland Southeast,800.0,...,93.0,44.0,NaN,Active,RMLS,18331169,45.475296,-122.586139,"{""x"": -122.58613896196422, ""y"": 45.47529563803...",4
4,MLS Listing,Vacant Land,Portland,OR,97213.0,50000.0,NaN,NaN,Marchmont ADD & RPLT,NaN,...,20.0,NaN,NaN,Active,RMLS,18388618,45.550021,-122.577701,"{""x"": -122.5777005888162, ""y"": 45.550021411183...",5

In [48]:
pdx_map = GIS().map('PORTLAND, OR')
#pdx_map.basemap='streets'
pdx_map

MapView(layout=Layout(height='400px', width='100%'))

In [134]:
prop_sdf.spatial.plot(map_widget=pdx_map)

True

In [35]:
prop_sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3716 entries, 0 to 3715
Data columns (total 22 columns):
SALE TYPE         3716 non-null object
PROPERTY TYPE     3715 non-null object
CITY              3715 non-null object
STATE             3715 non-null object
ZIP               3715 non-null float64
PRICE             3714 non-null float64
BEDS              3486 non-null float64
BATHS             3487 non-null float64
LOCATION          3715 non-null object
SQUARE FEET       3470 non-null float64
LOT SIZE          2539 non-null float64
YEAR BUILT        3399 non-null float64
DAYS ON MARKET    3634 non-null float64
$/SQUARE FEET     3469 non-null float64
HOA/MONTH         1178 non-null float64
STATUS            3715 non-null object
SOURCE            3715 non-null object
MLS#              3715 non-null object
LATITUDE          3715 non-null float64
LONGITUDE         3715 non-null float64
SHAPE             3716 non-null geometry
OBJECTID          3716 non-null int64
dtypes: float64(12), geometry(1), int64(1), object(8)
memory usage: 638.8+ KB

In [40]:
pdx_density_map = gis.map('Portland, OR')
pdx_density_map.basemap='gray'
pdx_density_map

MapView(layout=Layout(height='400px', width='100%'))

In [42]:
prop_sdf.spatial.plot(map_widget=pdx_density_map, renderer_type='h')
pdx_density_map

MapView(jupyter_target='notebook', layout=Layout(height='400px', width='100%'), ready=True, zoom=10.0)

In [44]:
item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
flayer = item.layers[0]

# Specify a SQL query and get a sub-set of the original data as a DataFrame
df = flayer.query(where="AGE_45_54 < 1500").sdf

# Visualize the top 5 records
df.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1413,1381,1106,2138,1815,1411,979,1557,525,307,...,0468080,14287,14980,6,1074,"{""x"": -12768343.256613126, ""y"": 3842463.708135...",AZ,04,261,9196
1,727,738,677,1380,1185,1333,1087,740,661,444,...,0602042,9932,10239,6,2056,"{""x"": -13613950.337588644, ""y"": 4931686.754090...",CA,06,267,8273
2,593,511,2323,2767,746,127,34,1229,4,2,...,0610561,10616,11869,6,2558,"{""x"": -13066582.116550362, ""y"": 3925650.676616...",CA,06,296,7530
3,888,988,900,1729,1479,1443,959,766,514,280,...,0613560,10866,11195,6,761,"{""x"": -13123874.446103057, ""y"": 4044249.710416...",CA,06,86,5898
4,1086,1228,1013,1822,1759,1478,1112,925,687,477,...,0614974,12823,13009,6,1763,"{""x"": -13151212.145276317, ""y"": 4027601.332347...",CA,06,88,6930

In [65]:
df.head(1)['SHAPE']
df.to_csv('estoyenojado1.csv', index = False, encoding='utf-8')

In [77]:
m1 = GIS().map('United States')
m1.basemap = 'streets'
m1

MapView(layout=Layout(height='400px', width='100%'))

In [78]:
m1.zoom = 4
m1.center = [39,-98]

In [79]:
df.spatial.plot(map_widget= m1)

True

In [98]:
m2 = GIS().map('Bogotá, Colombia')
m2.basemap='streets'
m2

MapView(layout=Layout(height='400px', width='100%'))

In [52]:
#house_df = []
records = []
desc = "Mi casa"
long = 4.740548 
lat = -74.046539
records.append((desc,long,lat))
records

[('Mi casa', 4.740548, -74.046539)]

In [115]:
import pandas as pd
house_df =pd.DataFrame(records, columns=['descripcion', 'latitud', 'longitud'])
house_df.head()

  descripcion   latitud   longitud
0     Mi casa  4.740548 -74.046539

In [128]:
house_sdf = pd.DataFrame.spatial.from_xy(house_df, 'latitud', 'longitud',4326)
type(prop_sdf)

pandas.core.frame.DataFrame

In [129]:
house_sdf.head()

,descripcion,latitud,longitud,SHAPE
0,Mi casa,4.740548,-74.046539,"{""x"": 4.740548, ""y"": -74.046539, ""spatialRefer..."

In [130]:
house_sdf.spatial.plot(map_widget= m2)

True

In [132]:
house_sdf.to_csv('estoyenojado3.csv', index = False, encoding='utf-8')

In [66]:
df3 = pd.read_csv('estoyenojado.csv', encoding='utf-8')

In [67]:
df3.head()

,descripcion,longitud,latitud,SHAPE
0,Mi casa,4.740548,-74.046539,"{'x': 4.740548, 'y': -74.046539, 'spatialRefer..."

In [102]:
house_sdf = pd.DataFrame.spatial.from_xy(house_df, 'longitud', 'latitud')

In [103]:
house_sdf.spatial.plot(map_widget= m2)

True

In [99]:
house_sdf.head()

,descripcion,longitud,latitud,SHAPE
0,Mi casa,4.740548,-74.046539,"{""x"": 4.740548, ""y"": -74.046539, ""spatialRefer..."

In [89]:
import arcpy

ModuleNotFoundError: No module named 'arcpy'